* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: url('images/image-1.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(226, 226, 226);
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3px;
}

.button-box {
    width: 70%;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 30px -10px #ff612d;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    border-radius: 58px;
    transition: .5s;
}

.social-icons {
    text-align: center;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
    cursor: pointer;
    transition: .5s;
}

.social-icons img:hover {
    transform: scale(.8);
}

.input-group {
    position: absolute;
    top: 180px;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(138, 138, 138);
    outline: none;
    background: transparent;
    margin: 13px 0;
    font-size: 17px;
}

.checkbox {
    padding: 10px;
    cursor: pointer;
}

label {
    color: rgba(0, 0, 0, 0.55);
    font-family: sans-serif;
    cursor: pointer;

}

.submit-btn {
    display: block;
    width: 70%;
    background: deepskyblue;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 1s;
}

.submit-btn:hover {
    transform: scale(.9);
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}